body {
	position: relative; /* usually the parent, in this case the body element, has position relative so that the absolute positioned child is positioned relative to it */
	margin: 0; /* recommended */
	background-color: #2d2d2d;
	min-height: 100dvh;
	min-height: -webkit-fill-availble;
}

h1 {
	position: absolute; /* taken out of the normal flow of the document */
	top: 50%; /* moved down by 50% of the screen height */
	transform: translateY(
		-50%
	); /* moved back up (Y axis) by half of its height to achieve the perfect center */
	width: 100%; /* needs to be defined to keep the default block behavior */
	text-align: center;
	margin: auto;
	color: white;
	font-family: "Oxanium-R";
	font-weight: 450;
	font-size: 8vw;
}

extra {
	position: absolute;
	bottom: 1%;
	left: 2%;
	color: white;
	font-family: "Oxanium-R";
	font-size: 4vw;
}

extra2 {
	position: absolute;
	bottom: 1%;
	right: 2%;
	color: white;
	font-family: "Oxanium-R";
	font-size: 4vw;
}

footer {
	position: absolute;
	bottom: 1%;
	left: 2%;
	color: white;
	font-family: "Oxanium-R";
	font-size: 4vw;
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 65px;
	}
	extra {
		font-size: 35px;
	}
	extra2 {
		font-size: 35px;
	}
}

/* oxanium-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Oxanium-R';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/oxanium-v19-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../fonts/oxanium-v19-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  

/* unvisited link */
a:link {
	color: Orange;
}

/* visited link */
a:visited {
	color: MediumSeaGreen;
}

/* selected link */
a:active {
	color: whitesmoke;
}

/* mouse over link */
a:hover {
	color: crimson;
}
